

<script>

async function  loadCart(){
    const containerCart = document.querySelector(".cart-items");
    let totalPrice = 0;
    const cart = await fetch('/cart.js');
    const response = await cart.json();

   

    if(response.items.length != 0){

        const header = `<div class="cart-header">
                        <h3>Producto</h3>
                        <h3>Detalles</h3>
                        <h3>Precio</h3>
                      </div>`;
      
        containerCart.innerHTML = header;

        response.items.forEach(item => {
          console.log(item);
          containerCart.innerHTML += `    
            <div class="cart_variant">
                <div class="cart_variant-body">
                    <div class="cart_variant_body-photo">
                      <img src='${item.image}' />  
                    </div>
                    <div class="cart_variant_body-description">
                      <h3>${item.product_title}</h3>
                      <div class="description-text">${item.product_description}</div>
                      <div>${item.variant_title}</div>

                    </div>
                    <div class="cart_variant_body-option">
                      <div class="cart_varian-quanty"> 

                        <button 
                          type="button" 
                          name="bntAdd" 
                          class="cart_variant-btnLess" 
                          onclick="updateCart(${item.id}, ${item.quantity - 1})">
                          -
                        </button>

                        <div>${item.quantity}</div> 

                        <button 
                          type="button" 
                          name="bntAdd" 
                          class="cart_variant-btnPlus"  
                          onclick="addCarrito(${item.id})">
                          +
                        </button>
      
                      </div>
                      <div> eliminar</div>  
                    </div>
                </div>

                <div class="cart_variant-footer">
                  <div>Total:</div>
                  <div>${formatterPeso.format(addDecimal(item.final_line_price))}</div>
                </div>
            </div>`

            totalPrice = totalPrice + item.final_line_price;
        });

        containerCart.innerHTML +=`
            <div class="cart-total">
              <button
                  class="cart-btn-checkout" 
                  name="checkout"
                  form="cart">
                  <label>{{ 'sections.cart.checkout' | t }}</label>  <label>${formatterPeso.format(addDecimal(totalPrice))}</label>
                </button>
               
            </div>`;
    }else{
      containerCart.innerHTML = "<div class='cart-null'>Carrito vacio!</div>"
    }
  }

  function showCart(){
      const cart = document.querySelector(".cart-popup");
      cart.style.display = "flex";
       
  }


  function updateCart(id_variant, quanty){
    

    let formData = {
        updates: {
          [id_variant] : quanty
        }
        }

        fetch('/cart/update.js', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formData)
        })
        .then(response => {

          loadCart();
          return response.json();
       
        })
        .catch((error) => {
          console.error('Error:', error);
        });

  }

  loadCart();


</script>